.container {
    position: relative;
}

.hero {
    background-image: url('/backgrounds/earth.jpg');
}

.thesis {
    background-image: url('/backgrounds/spacecloud.jpg');
    min-height: 50em;
    min-height: 100vh;
    height: auto;
}
